@using IdmhProject.Models
@model List<Career>


@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}


<p>
    <a href="/About/CareerCreate" class="btn btn-dark">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Profil</th>
            <th>Ödüller</th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var career in Model)
        {
            <tr>
                <td>
                    @career.Profile
                </td>
                <td>
                    @career.Award
                </td>

                <td>
                    <div class="btn-group-vertical">
                        
                        <form asp-action="DeleteCareer" asp-route-id="@career.Id" method="post">
                            <button type="submit" class="btn btn-dark">Delete</button>
                        </form>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>
<style>
    .btn-group-vertical {
        display: flex;
        flex-direction: column; /* Butonları dikey dizme */
        gap: 5px; /* Butonlar arasındaki boşluk */
    }

    .btn {
        background-color: black; /* Buton arka plan rengi siyah */
        color: white; /* Buton yazı rengi beyaz */
        border: none; /* Kenarlıkları kaldır */
        padding: 5px 10px; /* İç boşluk */
        text-decoration: none; /* Alt çizgiyi kaldır */
        border-radius: 5px; /* Kenar yuvarlama */
        text-align: center; /* Yazıyı ortala */
    }

        .btn:hover {
            background-color: darkgray; /* Üzerine gelindiğinde arka plan rengi */
        }
</style>
