@model IEnumerable<IdmhProject.Models.Project>

@{
    ViewData["Title"] = "Mimarlık";
}

<h2>@ViewData["Title"]</h2>

<div class="project-grid">
    @foreach (var project in Model)
    {
        <div class="project-item">
            <a href="@Url.Action("Details", "Home", new { id = project.Id })">
                <!-- Detay sayfasına yönlendirme -->
                <img src="@Url.Content("~/ProjectImages/" + project.Image)" alt="@project.Title" />
            </a>
        </div>
    }
</div>
@* url nin başına yani gösterdiğimiz yerde domainin adını yazmam gerekebilir *@