@model IEnumerable<IdmhProject.Models.Project>

@{
    ViewData["Title"] = "Mimarlık";
}

<h2>@ViewData["Title"]</h2>



<div class="project-grid">
    @foreach (var project in Model)
    {
        <div class="project-item">
            <a href="@Url.Action("Details", "Home", new { id = project.Id })">
                <!-- Detay sayfasına yönlendirme -->
                <img src="@project.Image" alt="@project.Title" />
            </a>
        </div>
    }
</div>
