<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Hakkımızda</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
     

        h1 {
            font-family: 'Playfair Display', serif; /* Başlık yazı tipi */
            font-size: 36px; /* Başlık boyutu */
            margin-bottom: 20px; /* Alt boşluk */
            text-align: left; /* Başlığı sola dayalı yap */
            color: black;
        }

        #wrapper {
            display: flex;
            height: auto;
            padding: 20px;
        }

        .leftContainer {
            flex: 2;
            padding-right: 20px;
            color: #444;
        }

            .leftContainer p {
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 15px;
            }

        .rightContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 20px; /* Resimler arasında boşluk */
            margin-top: 90px; /* Resimlerin konumunu aşağı kaydırmak için */
        }

            .rightContainer img {
                width: 80%; /* Boyutunu küçülttük */
                height: auto;
                border-radius: 15px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            }

        p {
            margin: 10px 0;
            padding: 10px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        }

        .leftContainer p {
            font-size: 16px;
            line-height: 1.6;
            color: #666; /* Yazı rengi biraz daha hafif */
        }
    </style>
</head>

<body>

    <main>
        <section id="wrapper">
            <section class="leftContainer">
                <h1>Profil</h1>
                <p>
                    2009 yılında Abdurrahman Çekim, Sevilay Uğur Çekim ortaklığında Kuzguncuk'ta kurulan "Baraka", bu geçen süre zarfında konut, otel, ofis, okul, lojistik merkezi, v.b. işlerde hatırı sayılır bir proje üretimi gerçekleştirmiştir. Bunun yanı sıra, ulusal anlamda çeşitli yarışmalarda da dereceler kazanmıştır.
                </p>
                <p>
                    İş konusunda seçici ve boyut olarak butik bir aralıkta kalmayı tercih eden “Baraka”, kendisi gibi genç, dinamik bir ekipten oluşmaktadır. Tasarım kabiliyeti yüksek, küçük, orta ve büyük ölçekli çeşitli projeler arasında hızlı geçiş yapabilen bir ofis yapısına sahip. Aynı zamanda İsviçre’li "Dolmus Architecten" ile çeşitli projeler yolu ile işbirliğini sürdürmektedir.
                </p>
                <div class="divider"></div>
                <h1>Ödüller</h1>
                <p>
                    İlbank Kamu Binaları Tasarımı Fikir Yarışması 2018 2. Ödül<br>
                    XVI. Ulusal Mimarlık Sergisi ve Ödülleri 2018 Fikir Sunumu Dalı Ödülü - Hatay Bölgesi Kentsel Tasarım ve Fikir Projesi<br>
                    Turgut Cansever Ulusal Mimarlık Ödülleri 2016 Başarı Ödülü - Maxx Royal Kemer Otel Projesi<br>
                    Çanakkale Savaşları Araştırma Merkezi Mimari Proje Yarışması 2015, 2. Mansiyon (Glaister-Gaucher Architects ve Serhat Başdoğan ile)<br>
                    2014 Arkitera Genç Mimar Ödülü, Abdurrahman Çekim<br>
                    Maxx Royal Kemer Projesi, 2014 Arkitera İşveren Ödülü<br>
                    Kadirli Belediyesi Hizmet Binası ve Kültür Merkezi Ulusal Mimari Proje Yarışması 2009, 5. Mansiyon (Burak Pelenk ve Stafan Rizo ile)<br>
                    Edirne Belediyesi Selimiye Camii ve Çevresi Ulusal Kentsel Tasarım Proje Yarışması, 4. Mansiyon (Denge mimarlık, Uysalkan mimarlık ile)<br>
                </p>
            </section>
            <br />
            <section class="rightContainer">
                <img src="https://static.wixstatic.com/media/c0bd06_87c7bc56ff214c45b718319b2c63f99a~mv2.jpg/v1/fill/w_560,h_280,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/turgutreis_mimar_mimari_proje-i%C3%A7-mimar_j.jpg" alt="IDMH Mimarlık">
                <img src="https://png.pngtree.com/thumb_back/fh260/background/20240724/pngtree-abstract-black-and-white-architectural-design-drawings-sketch-abstract-architectural-drawings-photo-image_16112978.jpg" alt="IDMH Mimarlık">
                <img src="https://teknonomi.com/wp-content/uploads/2024/03/mimari-teknik-cizim-hizmeti-1.jpeg" alt="IDMH Mimarlık">
            </section>
        </section>
    </main>

</body>
</html>
