<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Hakkımızda</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }

        header {
            background: #fff;
            padding: 10px 20px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        nav ul {
            list-style: none;
            padding: 0;
        }

        nav ul li {
            display: inline-block;
            margin-right: 20px;
        }

        nav ul li a {
            text-decoration: none;
            color: #333;
        }

        #wrapper {
            display: flex;
            height: auto;
            padding: 20px;
        }

        .leftContainer {
            flex: 2;
            padding-right: 20px;
            color: #444;
        }

        .leftContainer h1 {
            font-size: 24px;
            margin-bottom: 10px;
            font-weight: 600;
            color: #333;
        }

        .leftContainer p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 15px;
        }

        .rightContainer {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .rightContainer img {
            width: 100%;
            height: auto;
            border-radius: 15px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }

        /* Media Queries */
        html {
            font-size: 14px;
        }

        /* Proje Galerisi Stili */
        .project-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }

        .project-item {
            background-color: white;
            border: 1px solid black;
            transition: background-color 0.3s;
            text-align: center;
        }

        .project-item img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            filter: grayscale(100%);
            transition: filter 0.3s ease;
        }

        .project-item:hover img {
            filter: grayscale(0%);
        }

        .project-item:hover {
            background-color: lightgray;
        }

        /* Footer Stili */
        footer {
            text-align: center;
            margin-top: 40px;
            padding: 20px;
            background-color: #258cfb;
            color: white;
            border-radius: 5px;
        }

        footer p {
            margin: 0;
        }

        /* Diğer Stil Ayarlamaları */
        p {
            margin: 10px 0;
            padding: 10px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
  

    <main>
        <section id="wrapper">
            <section class="leftContainer">
                <h1>Profil</h1>
                <p>
                    2009 yılında Abdurrahman Çekim, Sevilay Uğur Çekim ortaklığında Kuzguncuk'ta kurulan "Baraka", bu geçen süre zarfında konut, otel, ofis, okul, lojistik merkezi, v.b. işlerde hatırı sayılır bir proje üretimi gerçekleştirmiştir. Bunun yanı sıra, ulusal anlamda çeşitli yarışmalarda da dereceler kazanmıştır.
                </p>
                <p>
                    İş konusunda seçici ve boyut olarak butik bir aralıkta kalmayı tercih eden “Baraka”, kendisi gibi genç, dinamik bir ekipten oluşmaktadır. Tasarım kabiliyeti yüksek, küçük, orta ve büyük ölçekli çeşitli projeler arasında hızlı geçiş yapabilen bir ofis yapısına sahip. Aynı zamanda İsviçre’li "Dolmus Architecten" ile çeşitli projeler yolu ile işbirliğini sürdürmektedir.
                </p>
                <div class="divider"></div>
                <h1>Ödüller</h1>
                <p>
                    İlbank Kamu Binaları Tasarımı Fikir Yarışması 2018 2. Ödül<br>
                    XVI. Ulusal Mimarlık Sergisi ve Ödülleri 2018 Fikir Sunumu Dalı Ödülü - Hatay Bölgesi Kentsel Tasarım ve Fikir Projesi<br>
                    Turgut Cansever Ulusal Mimarlık Ödülleri 2016 Başarı Ödülü - Maxx Royal Kemer Otel Projesi<br>
                    Çanakkale Savaşları Araştırma Merkezi Mimari Proje Yarışması 2015, 2. Mansiyon (Glaister-Gaucher Architects ve Serhat Başdoğan ile)<br>
                    2014 Arkitera Genç Mimar Ödülü, Abdurrahman Çekim<br>
                    Maxx Royal Kemer Projesi, 2014 Arkitera İşveren Ödülü<br>
                    Kadirli Belediyesi Hizmet Binası ve Kültür Merkezi Ulusal Mimari Proje Yarışması 2009, 5. Mansiyon (Burak Pelenk ve Stafan Rizo ile)<br>
                    Edirne Belediyesi Selimiye Camii ve Çevresi Ulusal Kentsel Tasarım Proje Yarışması, 4. Mansiyon (Denge mimarlık, Uysalkan mimarlık ile)<br>
                </p>
            </section>

            <section class="rightContainer">
                <img src="https://c.pxhere.com/photos/76/89/architecture_design_architecture_design_structure_construction_light_white_bright-1293697.jpg!d" alt="Baraka Mimarlık">
            </section>
        </section>
    </main>

    <footer>
        <p>© 2024 Baraka Mimarlık</p>
    </footer>
</body>
</html>
