@model IEnumerable<IdmhProject.Models.Project>

@{
    ViewData["Title"] = "İç Mimarlık";
}

<h2>@ViewData["Title"]</h2>



<div class="project-grid">
    @foreach (var project in Model)
    {
        <div class="project-item">
            <img src="@project.Image" alt="@project.Title" />

        </div>
    }
</div>
