<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kariyer - IDMH</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
      

        main {
            flex: 1; /* Ana içeriği esnek yap */
        }

        h1 {
            font-family: 'Playfair Display', serif; /* Başlık yazı tipi */
            font-size: 36px; /* Başlık boyutu */
            margin-bottom: 20px; /* Alt boşluk */
            text-align: left; /* Başlığı sola dayalı yap */
            color: black;
        }

        h2 {
            font-family: 'Roboto', sans-serif; /* Alt başlık yazı tipi */
            font-size: 30px; /* Alt başlık boyutu */
            margin-top: 20px; /* Üst boşluk */
            margin-bottom: 10px; /* Alt boşluk */
        }

        h3 {
            font-family: 'Roboto', sans-serif; /* Alt başlık yazı tipi */
            font-size: 24px; /* Alt başlık boyutu */
            margin-top: 15px; /* Üst boşluk */
            margin-bottom: 10px; /* Alt boşluk */
        }

        p {
            font-family: 'Roboto', sans-serif; /* Paragraf yazı tipi */
            font-size: 18px; /* Paragraf boyutu */
            margin-bottom: 15px; /* Paragraf alt boşluğu */
        }

        footer {
            background-color: #f1f1f1; /* Footer arka plan rengi */
            padding: 10px; /* Footer iç boşluğu */
            text-align: center; /* Footer içeriği ortala */
            margin-top: auto; /* Footer'ı en alta it */
        }
    </style>
</head>
<body>
    <main>
        <h1>Kariyer</h1>
        
        <p>İbrahim Durmaz İç Mimarlık Hizmetleri (IDMH) olarak, iç mekân tasarımında sanatı, fonksiyonelliği ve estetiği bir araya getiren yaratıcı çözümler sunuyoruz.</p>

        
        <p>Her projede, müşterilerimizin yaşam tarzını ve ihtiyaçlarını anlayarak, benzersiz ve kullanışlı alanlar tasarlamaya odaklanıyoruz.</p>

        
        <p>Sektördeki deneyimimiz ve uzman kadromuzla, evlerden ticari alanlara kadar her türlü iç mekân projesine değer katıyoruz.</p>

        <p>Amacımız, sadece görsel olarak etkileyici değil, aynı zamanda işlevsel ve sürdürülebilir yaşam alanları oluşturmaktır.</p>
    </main>

</body>
</html>
