@model IdmhProject.Models.Project

@{
    ViewData["Title"] = "Edit Project";
}

<h1>Edit Project</h1>

<form asp-action="Edit">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreatedDate" class="control-label"></label>
        <input asp-for="CreatedDate" class="form-control" type="date" />
        <span asp-validation-for="CreatedDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="control-label">Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
   @*  <div class="form-group">
        <label class="control-label">Select Team Members</label>
        <select multiple="multiple" class="form-control" name="selectedTeamMembers">
            @foreach (var member in ViewBag.TeamMembers)
            {
                <option value="@member.Value"
                @(Model.ProjectTeamMembers.Any(ptm => ptm.TeamMemberId == member.Value) ? "selected" : "")>
                    @member.Text
                </option>
            }
        </select>
    </div> *@
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
